---
- import_tasks: checks.yml

- import_tasks: user.yml
  when: solr_create_user

- name: Set solr_filename for Solr 4+.
  set_fact:
    solr_filename: "solr-{{ solr_version }}"
  when: "solr_version.split('.')[0] >= '4'"

- name: Set solr_filename for Solr 3.x.
  set_fact:
    solr_filename: "apache-solr-{{ solr_version }}"
  when: "solr_version.split('.')[0] == '3'"

- name: Check if Solr has been installed already.
  stat:
    path: "{{ solr_install_path }}"
  register: solr_install_path_status

- name: Set solr_mirror for Solr < 9.
  set_fact:
    solr_project_mirror: "{{ solr_mirror }}/lucene"
  when: solr_version.split('.')[0]|int < 9

- name: Set solr_mirror for Solr 9+.
  set_fact:
    solr_project_mirror: "{{ solr_mirror }}/solr"
  when: solr_version.split('.')[0]|int >= 9

- name: Download Solr.
  get_url:
    url: "{{ solr_project_mirror }}/solr/{{ solr_version }}/{{ solr_filename }}.tgz"
    dest: "{{ solr_workspace }}/{{ solr_filename }}.tgz"
    force: false
  when: solr_install_path_status.stat.isdir is not defined
  register: solr_download_status

- name: Expand Solr.
  unarchive:
    src: "{{ solr_workspace }}/{{ solr_filename }}.tgz"
    dest: "{{ solr_workspace }}"
    copy: false
  when: solr_download_status.changed
  tags: ['skip_ansible_lint']

# Install Solr < 5.
- include_tasks: install-pre5.yml
  when: "solr_version.split('.')[0] < '5'"

# Install Solr 5+.
- include_tasks: install.yml
  when: "solr_version.split('.')[0] >= '5'"

- name: Ensure solr is started and enabled on boot if configured.
  service:
    name: "{{ solr_service_name }}"
    state: "{{ solr_service_state }}"
    enabled: true
  when: solr_service_manage

# Configure solr.
- include_tasks: configure.yml
  when: "solr_version.split('.')[0] >= '5'"

# Create cores, if any are configured.
- include_tasks: cores.yml
  when: 
    - solr_cores 
    - solr_version.split('.')[0] >= '5'
    - solr_jetty_host == '127.0.0.1'

# Create cores also when solr is listening on custom network interface. Just for solr 9.3.0 and higher.
- include_tasks: cores-post93.yml
  when: 
    - solr_cores 
    - solr_version is version('9.3.0' ,'>=')
    - solr_jetty_host != '127.0.0.1'


- include_tasks: trim-fat.yml
