[Unit]
Description=Apache SOLR
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
RemainAfterExit=yes
Type=oneshot
User=solr
ExecStart=/etc/init.d/solr start
ExecReload=/etc/init.d/solr restart
ExecStop=/etc/init.d/solr stop

[Install]
WantedBy=multi-user.target
