<?xml version='1.0' encoding='UTF-8'?>
<solr sharedLib="lib" persistent="true">
{% for core in solr_cores %}
  {% if loop.first %}
<cores adminPath="/admin/cores" defaultCoreName="{{ core }}">
  {% endif %}
  <core name="{{ core }}" instanceDir="{{ solr_path }}/cores/{{ core }}/"/>
{% endfor %}
  </cores>
</solr>
